openapi: 3.0.3

info:
  title: Beeton Swap API
  version: 1.1.0
  description: |
    REST API для обмена jetton-токенов через децентрализованный сервис Beeton Swap (роутинг через DeDust).
    Эндпоинт синхронный: возвращает результат отправки транзакции кошельком сервера.

servers:
  - url: https://tech-domen.ru/beeton-swap-api
    description: Production server

tags:
  - name: Swap
    description: Операции обмена jetton↔jetton и jetton↔TON (native)

paths:
  /swap/desust:
    post:
      operationId: createSwap
      summary: Совершить обмен (swap)
      description: |
        Выполняет обмен между jettonA и jettonB через DeDust.
        - direction=buy — получить jettonB за счёт продажи jettonA/TON
        - direction=sell — продать jettonA за jettonB/TON
        - route=native — роутинг через пул с native-активом (TON)
        - route=multi — многошаговый роутинг A→TON→B
      tags:
        - Swap
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapRequest'
      responses:
        '401':
          description: Неавторизован — неверный или отсутствующий токен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '200':
          description: Успешно инициирован обмен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapSuccessResponse'
        '400':
          description: Ошибка запроса — отсутствуют или некорректны параметры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Некорректные бизнес-параметры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
  schemas:

    AddressHex:
      type: string
      description: Адрес jetton в формате `wc:hash`.
      example: "0:111122223333444455556666777788889999aaaabbbbccccddddeeeeffff0000"

    AmountAtomic:
      type: string
      description: Количество токенов в атомарных единицах
      example: "1000000000"

    Mnemonic:
      type: string
      description: BIP-39 мнемоническая фраза
      example: "flush wolf spring claim shy mouse vibrant unfold trend call sea kick mechanic syrup winner crumble fun celery group high uncover miss deputy social"

    SwapDirection:
      type: string
      enum: [buy, sell]
      example: buy

    SwapRoute:
      type: string
      enum: [native, multi]
      example: native

    SwapRequest:
      type: object
      required:
        - jettonA
        - jettonB
        - direction
        - route
        - jettonAmount
        - mnemonic
      properties:
        jettonA:
          $ref: '#/components/schemas/AddressHex'
        jettonB:
          $ref: '#/components/schemas/AddressHex'
        direction:
          $ref: '#/components/schemas/SwapDirection'
        route:
          $ref: '#/components/schemas/SwapRoute'
        jettonAmount:
          $ref: '#/components/schemas/AmountAtomic'
        mnemonic:
          $ref: '#/components/schemas/Mnemonic'

    SwapSuccessResponse:
      type: object
      required:
        - status
        - direction
        - route
        - jettonA
        - jettonB
        - jettonAmount
        - amountIn
        - amountOut
        - message
      properties:
        status:
          type: string
          example: success
        direction:
          $ref: '#/components/schemas/SwapDirection'
        route:
          $ref: '#/components/schemas/SwapRoute'
        jettonA:
          $ref: '#/components/schemas/AddressHex'
        jettonB:
          $ref: '#/components/schemas/AddressHex'
        jettonAmount:
          $ref: '#/components/schemas/AmountAtomic'
        amountIn:
          $ref: '#/components/schemas/AmountAtomic'
        amountOut:
          $ref: '#/components/schemas/AmountAtomic'
        message:
          type: string
          example: "Transaction sent successfully"

    ErrorResponse:
      type: object
      required: [status, message]
      properties:
        status:
          type: string
          example: error
        code:
          type: string
          example: BAD_REQUEST
        message:
          type: string
          example: Missing parameters
