<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Beeton Swap API</display-name>

    <filter>
        <filter-name>TokenAuthFilter</filter-name>
        <filter-class>filters.TokenAuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TokenAuthFilter</filter-name>
        <url-pattern>/swap/desust</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SwapServlet</servlet-name>
        <servlet-class>servlets.SwapServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SwapServlet</servlet-name>
        <url-pattern>/swap/desust</url-pattern>
    </servlet-mapping>

</web-app>
